.player-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #383838;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-bar-container>p {
  color: white;
}

.player-bar-styles {
  color: #B3B3B3;
}

.play-pause {
  font-size: 40px;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 0.2s;
}

.play-pause:hover {
  color: #fff;
  font-size: 50px;
  transition-duration: 0.2s;
}

.backward-forward {
  font-size: 20px;
  transition-duration: 0.2s;
}

.backward-forward:hover {
  color: #fff;
  font-size: 30px;
  transition-duration: 0.2s;
}