.song-root-container {
  height: 100vh;
  width: 95%;
  overflow-y: auto;
}

.song-root-container li {
  list-style: none;
  margin-right: auto;
  width: 100%;
  color: #E2E2E2;
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
}

.song-headers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.song-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.song-items {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: flex-start;
}

.song-items>div {
  width: 33.33%;
}

div.songs-js-play-icon {
  color: #B3B3B3;
  font-size: 25px;
  width: 50px;
}

.song-list li:hover {
  background-color: #333333;
}